body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.h1-color {
    color: orange;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 8px;
    font-weight: 700;
}

.flexible-container {
    display: flex;
}

.start-section img {
    width: 50%;
    margin-left: 300px;
}

.text-editor {
    text-align: center;
}

.photo-size img {
    height: 200px;
    width: 150px;
    margin-left: 100px;
}

.photo-size p {
    margin-left: 30px;
}

.photo-size h3 {
    margin-left: 30px;
}

.photo-size {
    margin-top: 80px;
}

#misson {
    background-color: rgba(79, 157, 166, 0.1);
    margin-left: 6%;
    hight: 400px;
    width: 300px;
    border-radius: 25px;
}

#vission {
    background-color: rgba(255, 75, 75, 0.1);
    margin-left: 10%;
    height: 400px;
    width: 300px;
    border-radius: 25px;
}

#Goals {
    background-color: #d6ccb1;
    margin-left: 10%;
    height: 400px;
    width: 300px;
    border-radius: 25px;
}

.third img {
    width: 70%;
    margin-left: 130px;
    margin-right: 40px;
}

.foure {
    margin-right: 370px;
}

.third-part {
    margin-top: 80px;
}